body{
    padding: 40px;
}

.image{
    width: 300px;
    filter: drop-shadow(10px 10px 30px gold);
} 

.shadow{
    width: 200px;
    height: 50px;
    background: #000;
    box-shadow: 0 50px red, 0 100px yellow;
}
